<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=768">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> <%- title %> </title>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <!-- hiding the Browser’s User Interface -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- iOS 6 -->
  <meta name="apple-mobile-web-app-title" content="<%- title %>">
  <!-- meta start -->
  <meta name="title" content="<%- title %>" />
  <meta name="description" content="獨家代理印度知名品牌 Double Deer，來自印度喜馬拉雅山下的頂級印度香米，長度超過 8.4 mm，全台灣印度餐廳都在用" />
  <meta name="keywords" content="米迪南，米迪南印度，米迪南印度米，米迪南印度香米，米迪，midi，midi south，頂級印度香米，香米，印度香米，頂極香米，印度食品，印度米，Basmati Rice，Indian rice，印度米減肥" />
  <link rel="image_src" href="./share.jpg" />

  <!-- OG -->
  <meta property="og:title" content="<%- title %>" />
  <meta property="og:site_name" content="<%- title %>" />
  <meta property="og:description" content="獨家代理印度知名品牌 Double Deer，來自印度喜馬拉雅山下的頂級印度香米，長度超過 8.4 mm，全台灣印度餐廳都在用" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="./share.jpg" />
  <meta property="og:url" content="" />
  <!-- CSS -->
  <!-- build:css css/lib.css -->
  <!-- endbuild -->
  <link rel="stylesheet" href="css/all.css">
</head>

<body>
  <!-- sider -->
  <% include conponents/sider %>
  <!-- sider END-->

  <!-- navbar -->
  <% include conponents/header %>
  <!-- navbar END -->

  <div id='mainContainer'>
    <!-- contents -->
    <%- contents %>
    <!-- contents END -->
  </div>

  <!-- footer -->
  <% include conponents/footer %>
  <!-- footer END -->


  <!-- build:js js/lib.js -->
  <script type="text/javascript" src="js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/fastclick.js"></script>
  <script type="text/javascript" src="js/lib/in-view.min.js"></script>
  <script type="text/javascript" src="js/lib/TweenMax.min.js"></script>
  <script type="text/javascript" src="js/lib/TimelineMax.min.js"></script>
  <!-- endbuild -->
  <!-- js -->
  <script src="js/all.js"></script>
  <!-- js END-->
</body>

</html>